{% extends 'base.html' %}

{% block content %}
    <h1 class="pt-2 pb-2"><b>{{ user.username }}</b></h1>
    {% if user.post_set.all %}
        <h2>Posts</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date Posted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in user.post_set.all %}
                        <tr>
                            <td><a href="{% url 'post_detail' post.pk %}" class="text-decoration-none text-black">{{ post.title }}</a></td>
                            <td class="text-black-50">{{ post.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 class="pt-1 pb-1">No posts yet.</h3>
    {% endif %}
    {% if request.user == user %}
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        <a href="{% url 'posts_delete' %}" class="btn btn-danger m-3" >Delete a Post</a>
    {% endif %}
    <br>
{% endblock %}
