{% load static %}
<header class="bg-black text-white py-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Website icon -->
            <div class="col-auto">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="Tree Icon" class="img-fluid m-1 p-1"
                         style="max-height: 5vh">
                </a>
            </div>
            <!-- Empty space -->
            <div class="col"></div>
            <!-- If logged in display create post button -->
            {% if request.user.is_authenticated %}
                <div class="col-auto">
                    <div class="d-flex align-items-center m-auto h-100">
                        <a href="{% url 'post_create' %}" class="text-decoration-none text-white">
                            <h1>
                                &plus;
                            </h1>
                        </a>
                    </div>
                </div>
                <!-- User icon button -->
                <div class="col-auto">
                    <a href="{% url 'user' request.user.pk %}" class="text-decoration-none text-white">
                        <div class="d-flex align-items-center justify-content-center m-auto">
                            <!-- If logged in make user icon button redirect to your profile, if not redirect to login page -->
                            <img src="{% static 'img/profile_icon.png' %}" class="img-fluid m-1" alt="User Icon"
                                 style="max-height: 3vh">
                        </div>
                        <div class="text-center">
                            <h6 class="">{{ user }}</h6>
                        </div>
                    </a>
                </div>

            {% else %}
                <!-- User icon button -->
                <div class="col-auto d-flex align-items-center justify-content-center">
                <a href="{% url 'user_login' %}" class="text-decoration-none text-white">
                    <img src="{% static 'img/profile_icon.png' %}" class="img-fluid m-1" alt="User Icon"
                         style="max-height: 3vh">
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</header>


