<!-- post_create.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Create a New Post</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form.non_field_errors }}

    {{ post_form.title.errors }}
    <div class="form-group">
      <label for="{{ post_form.title.id_for_label }}">Title</label>
      {{ post_form.title }}
    </div>

    {{ post_form.content.errors }}
    <div class="form-group">
      <label for="{{ post_form.content.id_for_label }}">Content</label>
      {{ post_form.content }}
    </div>

    {{ post_form.image.errors }}
    <div class="form-group">
      <label for="{{ post_form.image.id_for_label }}">Image</label>
      {{ post_form.image }}
    </div>

    {{ post_form.location.errors }}
    <div class="form-group d-flex align-items-center">
      <label for="{{ post_form.location.id_for_label }}" class="m-2">Location</label>
      <div class="d-flex align-items-center">
        {{ post_form.location }}
        <a href="{% url 'location_create' %}" class="btn btn-primary m-3" id="create-location-button">Create Location</a>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Create Post</button>
  </form>
{% endblock %}
