{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="post-detail-info">
                    <div class="bg-info p-1">
                        <a href="{% url 'post_detail' post.pk %}" class="text-decoration-none text-white">
                            <h2 class="ps-1 pt-1">{{ post.title }}</h2>
                        </a>
                    </div>
                    <div class="bg-info-subtle p-1">
                        <h7 class="text-black-50 ps-1 pt-1">
                            <a href="{% url 'user' post.author.pk %}"
                               class="text-decoration-none text-dark"><b>{{ post.author }}</b>
                            </a>
                            | {{ post.created_at }}
                        </h7>
                        {% if user == post.author %}
                            <a href="{% url 'post_edit' post.pk %}" class="btn btn-warning m-1">Edit Post</a>
                            <form id="delete-form" method="post" action="{% url 'post_delete' post.pk %}"
                                  style="display: inline;">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger m-1" onclick="confirmDelete()">Delete Post
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="bg-light p-3 flex-grow-1">
                        <p>{{ post.content }}</p>
                    </div>
                    {% if post.image %}
                        <div class="d-flex align-items-center justify-content-center"
                             style="width: 100%; height: 100%;">
                            <img src="{{ post.image.url }}" alt="Image error" class="img-fluid"
                                 style="max-height: 100%; object-fit: cover; border: black 3px solid;">
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="bg-info-subtle p-1">
                    <h5 class="m-1 ps-1 text-black-50">{{ post.location }}</h5>
                </div>
                <div id="map" style="height: 100%" class="flex-grow-1"></div>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete() {
            if (confirm('Are you sure you want to delete this post?')) {
                document.getElementById('delete-form').submit();
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize the map and set its view to the post's location
            let map = L.map('map').setView([{{ post.location.latitude|floatformat:4 }}, {{ post.location.longitude|floatformat:4 }}], 15);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            L.marker([{{ post.location.latitude }}, {{ post.location.longitude }}]).addTo(map)
                .bindPopup(`<b>{{ post.location|truncatechars:35 }}</b><br>{{ post.location.description }}`);
        });
    </script>
    <br>
{% endblock %}
